#body{
    background-color: darkgoldenrod;    
}    
#draw{
    background-color: white;
    margin: 30px 35%;
}

#Teclado{
    margin: 0 400px;
    width: 400px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    padding: 2%;
}
#palabra{
    margin: 0 450px;
    width: 500px;

}

.inputs{
    margin: 10px;
    border: black 1px;
    width: 30px;
    height: 30px;
}
.teclas{
    width: 30px;
    height: 30px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:5px;
    background-color: lightgray;
}

#html{
    overflow: hidden;
}


